@charset "UTF-8";


/***************************************************
			PAGE DEMO
****************************************************/
.mainContainer {
    background: linear-gradient(to bottom right, rgba(243, 196, 124, 0.3), rgba(44, 25, 31, 0.5)), url("../vendor/patterns/circles-light.png");
    font-family: "Linux Biolinum G","Fira Code", sans-serif;
    height: 90vh;
    width: 100%!important;
    padding: 2em 1em;
}
.mainContainer a.entree {
	transition: 1s;
	display: inline-block;
	width: 25%;
	font-size: 2em;
	margin: 5em auto 1em auto;
	padding: 1em;
	background-color: rgba(255,255,255,.5);
	text-align: center;
	border-radius: .2em;
	border: 1px solid rgba(0,0,0,.5);
}
.mainContainer a.entree:hover {
	text-decoration: none;
	transition: .2s;
	background-color: rgba(255,255,255,.8);
}
.accueilGo {
	display: flex;
	flex-flow: row nowrap;
}